    <div id="searchPrototypeApp" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">

        <search-input></search-input>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">

          <search-summary text="ctrl.search.text" total-items="ctrl.totalItems" failed-search="ctrl.failedSearch"></search-summary>

          <search-results results="ctrl.results" total-items="ctrl.totalItems" loading="ctrl.loading" page="ctrl.search.page"></search-results>

          <uib-pager total-items="ctrl.totalItems" items-per-page="ctrl.resultsPerPage" ng-model="ctrl.search.page" ng-change="ctrl.setPage()" ng-if="ctrl.results.length > 0"></uib-pager>

        </div>
      </div>
    </div>
